{% extends "layout/layout_fixed.html" %}
{% load i18n %}
{% block base_content %}
<div class="container">
    <div class="row">
        <div class="span6">
            <form method="post" action="?next={{ next|default:"/" }}"> {% csrf_token %}
              {{ form.as_p }}
            
              <input type="submit" value="{% trans 'Log in' %}" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
            
            <p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
        </div>
    </div>
</div>
{% endblock base_content%}


