{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %} {% trans 'Password change' %} {% endblock %}


{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}

<div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
    {{ form.old_password.errors }}
    <div{% if not line.fields|length_is:'1' %} class="field-box{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
    <p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.old_password}}</p>
    </div>
</div>
<div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
   {{ form.new_password1.errors }}
    <div{% if not line.fields|length_is:'1' %} class="field-box{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
    <p class="aligned wide"><label for="id_old_password">{% trans 'New password:' %}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.new_password1 }}</p>
    </div>
</div>
<div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
   {{ form.new_password2.errors }}
    <div{% if not line.fields|length_is:'1' %} class="field-box{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
    <p class="aligned wide"><label for="id_old_password">{% trans 'Confirm password' %}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.new_password2 }}</p>
    </div>
</div>

<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>



{% endblock %}

{% block content-related %}

{% endblock %}