
{% extends "layout/layout_fixed.html" %}

{% block metainfo%}
    <title>{% block title %}User test{% endblock %}</title>
{% endblock metainfo%}

{% block css.custom %}
    <link rel="stylesheet" href="{MEDIA_URL}assets/css/bootstrap.css" />
    <link rel="stylesheet" href="{MEDIA_URL}assets/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="{MEDIA_URL}assets/ico/favicon.ico" />
    <link rel="stylesheet" href="{MEDIA_URL}assets/css/style.css" />
{% endblock css.custom%}
{% block js.custom %}
    <script type="text/javascript" src="{MEDIA_URL}/assets/js/jquery.js"></script>
    <script  type="text/javascript" src="{MEDIA_URL}/assets/js/reload.js"></script>

    <script src="{MEDIA_URL}/assets/js/bootstrap-transition.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-alert.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-modal.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-dropdown.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-tab.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-tooltip.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-popover.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-button.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-collapse.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-carousel.js"></script>
    <script src="{MEDIA_URL}/assets/js/bootstrap-typeahead.js"></script>
{% endblock %}

{% block base_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header"><i class="icon-user icon-white"></i>My Account</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header"><i class="icon-list-alt icon-white"></i>Questionnaire</li>

                        <li><a href="/assign/" id="assign">Assign</a></li>


                        <li><a href="/view/">View</a></li>
                        <li><a href="/create/">Create</a></li>


                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span9">
                <div id="lform">

                </div>
                <div class="row-fluid">
                    <div class="span4">

                    </div><!--/span-->
                    <div class="span4">

                    </div><!--/span-->
                    <div class="span4">

                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="span4">

                    </div><!--/span-->
                    <div class="span4">

                    </div><!--/span-->
                    <div class="span4">

                    </div><!--/span-->
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Company 2012</p>
        </footer>

    </div>



{% endblock base_content %}
