
<header>          
    <!--start: Row -->
        <div class="row">
           <!--end: InstituteName -->
                {% block institutelogo %}
                        <!--start: Logo -->
                        <div class="logo span4">
                            <a class="brand" href="/"><img src="{{MEDIA_URL}}assets/img/logo.png"></a>
                        </div>
                        <!--end: Logo -->
                    
                        <!--start: Institute Name  -->
                        <div class="span8">
                            <h1>Name of Site</h1>
                        </div>
                        <!--end: InstituteName -->
                {% endblock institutelogo %}
            <!--end: InstituteName -->
        </div>
    <!--end: Row -->
</header>
                        
